<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
     <link rel="shortcut icon" href="{% static 'igame/img/ico/yolo.ico'%}"  />
     

    <title>yolo</title>


      <link href="{% static 'igame/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'igame/css/ranking.css' %}" rel="stylesheet">
      <link href="{% static 'igame/css/24game.css' %}" rel="stylesheet">
    

  </head>

  <body>

   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
   	  <a class="py-2" href="#" style="padding: 0.5rem;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
	<a class="navbar-brand" href="#">YOLO </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">iblog <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="igmae" id="igamebotton">igame </a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">imovies </a>
			</li>
			<li class="nav-item">
				<a class="nav-link ibook" href="#">ibook </a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">联系我</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

    <main role="main" class="container" >
    	
    	
    	
    	<canvas id="canvas" style="z-index: 1">
	     当浏览器未显示动画时，请更换浏览器为CHROME FIREFOX SAFARI IE9+
			</canvas>

		 <canvas id="canvas1" >
    	当浏览器未显示动画时，请更换浏览器为CHROME FIREFOX SAFARI IE9+
			</canvas>

		<div id="controller" style="z-index: 2" >
    <div >
        <h2 id="resultText">结果</h2>
        <a href="#" id="controlbtn1">计算结果</a>
        <a href="#" id="controlbtn2">重置Canvas</a>
        <a href="#" id="controlbtn3">求助</a>
    </div>
	</div>
	


    </main>

<!--		<script type="text/javascript" src="js/main.js"></script>-->

		<script type="text/javascript" src="{% static 'igame/js/digit.js' %}"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="{% static 'igame/js/jquery3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'igame/js/popper.min.js' %}"></script>
    <script src="{% static 'igame/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'igame/js/igame24play.js' %}"></script>
    <script src="{% static 'igame/js/poker.min.js' %}"></script>


    
  </body>
</html>
